@using GIBS.Module.ContactMe.Services
@using Oqtane.Shared
@using Oqtane.Services
@using Oqtane.Models
@using Oqtane.Modules
@using Oqtane.Providers
@using Oqtane.Interfaces
@namespace GIBS.Module.ContactMe
@inherits ModuleBase
@inject ISettingService SettingService
@inject IContactMeService ContactMeService

@inject IStringLocalizer<Settings> Localizer

<div class="container">
    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="instructions" HelpText="Enter instructions to display on the form" ResourceKey="Instructions" ResourceType="@resourceType">Instructions: </Label>
        <div class="col-sm-9">
            <textarea id="instructions" class="form-control" @bind="@_instructions" rows="3"></textarea>
        </div>
    </div>
    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="successFeedback" HelpText="Enter the feedback message to display after successful submission" ResourceKey="SuccessFeedback" ResourceType="@resourceType">Success Feedback: </Label>
        <div class="col-sm-9">
            <textarea id="successFeedback" class="form-control" @bind="@_successFeedback" rows="3"></textarea>
        </div>
    </div>

    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="sentToUserName" HelpText="Enter sentToUser Name" ResourceKey="SentToUserName" ResourceType="@resourceType">SentToUserName: </Label>
        <div class="col-sm-9">
            <input id="sentToUserName" class="form-control" @bind="@_sentToUserName" required />
        </div>
    </div>



    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="sentToUserEmail" HelpText="Enter sentToUser Email" ResourceKey="SentToUserEmail" ResourceType="@resourceType">SentToUserEmail: </Label>
        <div class="col-sm-9">
            <input id="sentToUserEmail" class="form-control" @bind="@_sentToUserEmail" required />
        </div>
    </div>

    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="bccName" HelpText="Enter BCC Name" ResourceKey="BccName" ResourceType="@resourceType">BCC Name: </Label>
        <div class="col-sm-9">
            <input id="bccName" class="form-control" @bind="@_bccName" required />
        </div>
    </div>



    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="bccEmail" HelpText="Enter BCC Email" ResourceKey="BccEmail" ResourceType="@resourceType">BCC Email: </Label>
        <div class="col-sm-9">
            <input id="bccEmail" class="form-control" @bind="@_bccEmail" required />
        </div>
    </div>


    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="authorizedUser" HelpText="Select the user to manage contact form." ResourceKey="AuthorizedUser" ResourceType="@resourceType">Authorized User: </Label>
        <div class="col-sm-9">
            <select id="authorizedUser" class="form-select" @bind="@_authorizedUser">
                <option value="">-- Select User --</option>
                @if (_users != null)
                {
                    @foreach (var user in _users)
                    {
                        <option value="@user.UserId">@user.DisplayName</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="interestList" HelpText="Enter a comma-separated list of interests for the dropdown" ResourceKey="InterestList" ResourceType="@resourceType">Interest List: </Label>
        <div class="col-sm-9">
            <textarea id="interestList" class="form-control" @bind="@_interestList" rows="3"></textarea>
        </div>
    </div>


    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="showCompany" HelpText="Show Company field" ResourceKey="ShowCompany" ResourceType="@resourceType">Show Company: </Label>
        <div class="col-sm-9">
            <input type="checkbox" id="showCompany" class="form-check-input" @bind="@_showCompany" />
        </div>
    </div>
    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="showAddress" HelpText="Show Address field" ResourceKey="ShowAddress" ResourceType="@resourceType">Show Address: </Label>
        <div class="col-sm-9">
            <input type="checkbox" id="showAddress" class="form-check-input" @bind="@_showAddress" />
        </div>
    </div>
    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="showPhone" HelpText="Show Phone field" ResourceKey="ShowPhone" ResourceType="@resourceType">Show Phone: </Label>
        <div class="col-sm-9">
            <input type="checkbox" id="showPhone" class="form-check-input" @bind="@_showPhone" />
        </div>
    </div>
    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="showWebsite" HelpText="Show Website field" ResourceKey="ShowWebsite" ResourceType="@resourceType">Show Website: </Label>
        <div class="col-sm-9">
            <input type="checkbox" id="showWebsite" class="form-check-input" @bind="@_showWebsite" />
        </div>
    </div>
    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="showInterest" HelpText="Show Interest dropdown" ResourceKey="ShowInterest" ResourceType="@resourceType">Show Interest: </Label>
        <div class="col-sm-9">
            <input type="checkbox" id="showInterest" class="form-check-input" @bind="@_showInterest" />
        </div>
    </div>

</div>

@code {

    private string resourceType = "GIBS.Module.ContactMe.Settings, GIBS.Module.ContactMe.Client.Oqtane"; // for localization
    public override string Title => "ContactMe Settings";

    private string _instructions;
    private string _successFeedback;
    //private string _sentToEmail;
    private string _interestList;
    private string _sentToUserName;
    private string _sentToUserEmail;
    private string _bccName;
    private string _bccEmail;
    private string _authorizedUser;
    public List<User> _users { get; set; } = new List<User>();
    private bool _showCompany;
    private bool _showAddress;
    private bool _showPhone;
    private bool _showWebsite;
    private bool _showInterest;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _users = await ContactMeService.GetUsersAsync();
            Dictionary<string, string> settings = await SettingService.GetModuleSettingsAsync(ModuleState.ModuleId);
            _instructions = SettingService.GetSetting(settings, "Instructions", "");
            _successFeedback = SettingService.GetSetting(settings, "SuccessFeedback", "");
            _authorizedUser = SettingService.GetSetting(settings, "AuthorizedUser", "");
            _sentToUserName = SettingService.GetSetting(settings, "SentToUserName", "");
            _sentToUserEmail = SettingService.GetSetting(settings, "SentToUserEmail", "");
            _bccName = SettingService.GetSetting(settings, "BccName", "");
            _bccEmail = SettingService.GetSetting(settings, "BccEmail", "");
            _interestList = SettingService.GetSetting(settings, "InterestList", "");
            _showCompany = bool.Parse(SettingService.GetSetting(settings, "ShowCompany", "true"));
            _showAddress = bool.Parse(SettingService.GetSetting(settings, "ShowAddress", "true"));
            _showPhone = bool.Parse(SettingService.GetSetting(settings, "ShowPhone", "true"));
            _showWebsite = bool.Parse(SettingService.GetSetting(settings, "ShowWebsite", "true"));
            _showInterest = bool.Parse(SettingService.GetSetting(settings, "ShowInterest", "true"));
        }
        catch (Exception ex)
        {
            AddModuleMessage(ex.Message, MessageType.Error);
        }
    }

    public async Task UpdateSettings()
    {
        try
        {
            Dictionary<string, string> settings = await SettingService.GetModuleSettingsAsync(ModuleState.ModuleId);
            SettingService.SetSetting(settings, "Instructions", _instructions);
            SettingService.SetSetting(settings, "SuccessFeedback", _successFeedback);
            SettingService.SetSetting(settings, "AuthorizedUser", _authorizedUser);
            SettingService.SetSetting(settings, "SentToUserEmail", _sentToUserEmail);
            SettingService.SetSetting(settings, "SentToUserName", _sentToUserName);
            SettingService.SetSetting(settings, "BccName", _bccName);
            SettingService.SetSetting(settings, "BccEmail", _bccEmail);
            SettingService.SetSetting(settings, "InterestList", _interestList);
            SettingService.SetSetting(settings, "ShowCompany", _showCompany.ToString());
            SettingService.SetSetting(settings, "ShowAddress", _showAddress.ToString());
            SettingService.SetSetting(settings, "ShowPhone", _showPhone.ToString());
            SettingService.SetSetting(settings, "ShowWebsite", _showWebsite.ToString());
            SettingService.SetSetting(settings, "ShowInterest", _showInterest.ToString());
            await SettingService.UpdateModuleSettingsAsync(settings, ModuleState.ModuleId);
        }
        catch (Exception ex)
        {
            AddModuleMessage(ex.Message, MessageType.Error);
        }
    }
}